#home1 {
    height: 100vh;
    background-image: url("retro.jpg");
    margin-left: auto;
    margin-right: auto;
    background-position: Top 20% left 30%;
}
#home2{
    height: 100vh;
}

.inner{

}
.masthead-brand {
margin-left: 30px;
}

.nav{
    justify-content: flex-end;
    background-image: linear-gradient(slategrey, #89bab4);
    display: block;
    position: fixed;
    width: 100%;
}
.nav-link{
    color: white;
}
