#home1 {
    height: 100vh;
    background-image: url("retro.jpg");
    background-position: Top 20% left 45%;
}
#home2{
    height: 100vh;
    background-image: url("fd2.jpg");
    background-position: bottom 50% right 70%;
}
#home3{
    height: 100vh;
    margin-top: 23%;
}
.navbar{
    background-image: linear-gradient(#908c38, #baa687);
    position: fixed;
    width: 100%;

}
.masthead-brand {
    text-decoration: underline;
    text-decoration-color: black;

}

.text{
    color: whitesmoke;
}
#logo{
    width: 120px;
    margin: auto;

}
.colonne{
    margin-top: 10%;
    m
}
